
.loginpage {
    -fx-background-color: linear-gradient(to right , #1b54b7 ,#b71c98)
}

#button {
   -fx-background-color: #e6ea08;
   -fx-outline: none;
   -fx-transition:2s ease;
}

#button:hover {
    -fx-background-color: #e4cd05;
    
}

.rightlogin {
    -fx-background-color: white;
}