/* 
    Created on : Feb 7, 2024, 12:06:02 AM
    Author     : hailek
*/

.leftlogin {
    -fx-background-color: linear-gradient(to left, #ad209a, #2152b6);
}

.input {
    color: #fff;
}

.loginbtn {
    -fx-background-color: #e6ea08;
    -fx-outline:none;
}

.rightpage {
    -fx-background-color: #fff;
}

.loginbtn:hover {
    -fx-background-color: #0591af;
  
}