/* 
    Created on : Feb 9, 2024, 5:31:37 PM
    Author     : hailek
*/

.admincontol {
    -fx-background-color: linear-gradient(to bottom, #572649, #2152b6);
}

.logoutcontainer {
    -fx-background-color: #000435;
}

.mainbtn {
    -fx-background-color: #e6ea08;
    -fx-outline:none;
}

.mainbtn:hover {
    -fx-background-color: #0591af;
  
}
